 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

 body {
     background-image: url(../img/pajitas-con-vista-superior-de-bloc-de-notas-vacio.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     background-attachment: fixed;
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90vh;
     font-family: "Nunito", sans-serif;
     
 }
 p {
    text-align: center;
 }

 #notasForm {
     width: 100%;
     font-size: 18px;
     font-weight: bold;
   
 }

 form {
     margin-top: 3em;
     padding: 100%;
     text-align: center;
 }

 label,
 input {
     margin: 10px 0;
     width: 100%;
 }

 input {
     padding: 8px;
     border: 1px solid #89CFF0;
     border-radius: 4px;
     width: 70%;
 }

 button {
     padding: 8px;
     border: 2px solid #89CFF0;
     border-radius: 3px;
     width: 100%;
 }